<!-- store/templates/store/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой Интернет-магазин</title>
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Мой Интернет-магазин</a>
            <a href="{% url 'service_list' %}">Услуги/Товары</a>
            <a href="{% url 'create_product' %}">Создай заявку</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Профиль</a>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Авторизация</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
