<!-- store/templates/store/service_detail.html -->

{% extends 'store/base.html' %}

{% block content %}
    <h2>{{ product.name }}</h2>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="400">
    <p>{{ product.description }}</p>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'place_order' product.id %}">
        {% csrf_token %}
        <button type="submit">Заказать</button>
    </form>
{% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы сделать заказ.</p>
{% endif %}
{% endblock %}
